@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lexend: Lexend;
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-21xl: 40px;
  --font-size-17xl: 36px;
  --font-size-6xl: 25px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;
  --font-size-7xl: 26px;
  --font-size-11xl: 30px;
  --font-size-5xs: 8px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-36xl: 55px;
  --font-size-41xl: 60px;

  /* Colors */
  --color-white: #fff;
  --color-orangered-100: #f05114;
  --color-orangered-200: #e2480d;
  --color-orangered-300: rgba(226, 72, 13, 0.51);
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: #d8d8d8;
  --color-dimgray-100: #717171;
  --color-dimgray-200: #514a4a;
  --color-dimgray-300: rgba(95, 89, 89, 0.54);
  --color-darkslateblue-100: #00347f;
  --color-darkslateblue-200: rgba(0, 52, 127, 0.51);
  --color-goldenrod-100: #ffbb37;
  --color-goldenrod-200: rgba(224, 172, 38, 0.51);
  --color-darkslategray: #333;
  --color-darkorange: #fe9732;
  --color-indianred: #cb5151;
  --color-deepskyblue-100: #4daded;
  --color-deepskyblue-200: #009bd6;
  --color-deepskyblue-300: rgba(77, 173, 237, 0.6);
  --color-black: #000;
  --color-chocolate-100: #d45e00;
  --color-chocolate-200: rgba(212, 94, 0, 0.6);
  --color-seagreen: #147641;
  --color-limegreen: #2baf16;
  --color-darkgray-100: #b7b3b3;
  --color-darkgray-200: #93989d;
  --color-darkgray-300: #979797;
  --color-steelblue-100: #2d6f9a;
  --color-steelblue-200: #095689;
  --color-gray-100: #1e2237;
  --color-gray-200: #112022;
  --color-springgreen: #00d95f;
  --color-orange: #ffaa00;
  --color-lavender: #ccd9e6;
  --color-cadetblue: #4b8e96;
  --color-aliceblue: #ebf0f5;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-5xs: 8px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-12xl: 31px;
  --br-6xl: 25px;
  --br-7xl: 26px;
  --br-6xs: 7px;
  --br-21xl: 40px;
  --br-8xs: 5px;
  --br-11xl: 30px;
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-5xl: 24px;
  --br-4xs: 9px;
}
