.entypodots-two-horizontal-icon4,
.evaarrow-ios-back-fill-icon8 {
  position: absolute;
  top: 15px;
  left: 341px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.evaarrow-ios-back-fill-icon8 {
  top: 20px;
  left: 14px;
  width: 35px;
  height: 35px;
}
.frdric-chopin6 {
  position: absolute;
  top: 17px;
  left: 79px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.question-2-child {
  position: absolute;
  top: 74px;
  left: 12px;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  background-color: var(--color-gray-100);
  width: 390px;
  height: 410px;
}
.question-21,
.what-was-chopins {
  position: absolute;
  display: inline-block;
}
.what-was-chopins {
  top: 207px;
  left: 87px;
  font-size: var(--font-size-13xl);
  text-align: center;
  width: 239px;
}
.question-21 {
  top: 112px;
  left: 134px;
  width: 145px;
}
.question-2-inner,
.question-2-item {
  position: absolute;
  top: 159px;
  left: 76px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  width: 261px;
  height: 10px;
}
.question-2-inner {
  background-color: var(--color-limegreen);
  width: 48px;
}
.course-2-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-orangered-200);
  width: 390px;
  height: 83px;
  cursor: pointer;
}
.a-the-piano {
  position: absolute;
  top: 25px;
  left: 49px;
  display: inline-block;
  width: 265px;
}
.course-24 {
  position: absolute;
  top: 448px;
  left: 12px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 390px;
  height: 83px;
}
.question-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 896px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
