.quizzes-expanded-child {
  position: absolute;
  top: 227px;
  left: 36px;
  border-radius: 50%;
  background-color: var(--color-goldenrod-100);
  filter: blur(27px);
  width: 327px;
  height: 216px;
}
.glass4 {
  position: absolute;
  top: -4px;
  left: 0;
  background: linear-gradient(
    177.01deg,
    rgba(227, 227, 227, 0.6),
    rgba(217, 217, 217, 0.41)
  );
  backdrop-filter: blur(14px);
  width: 414px;
  height: 1219px;
}
.test-your-knowledge1 {
  position: absolute;
  top: 101px;
  left: 36px;
  display: inline-block;
  width: 269px;
  height: 23px;
}
.task-1-child1,
.task-1-child2,
.tasks-child1,
.tasks-child2,
.tasks-child3 {
  position: absolute;
  top: 785px;
  left: 29px;
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
  width: 369px;
  height: 120px;
}
.task-1-child1,
.task-1-child2,
.tasks-child2,
.tasks-child3 {
  top: 650px;
}
.task-1-child1,
.task-1-child2,
.tasks-child3 {
  top: 515px;
}
.task-1-child1,
.task-1-child2 {
  top: 815px;
}
.task-1-child2 {
  top: 826px;
  left: 37.4px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro-100);
  width: 145.5px;
  height: 97px;
}
.learn-about-chopins1,
.video1 {
  position: absolute;
  top: 836px;
  left: 207.2px;
  font-weight: 600;
  display: inline-block;
  width: 61.1px;
}
.learn-about-chopins1 {
  top: 866px;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-dimgray-100);
  width: 157.1px;
  height: 46px;
}
.task-1-child3,
.task-11 {
  position: absolute;
  left: 0;
  width: 414px;
}
.task-1-child3 {
  top: 0;
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, rgba(217, 217, 217, 0), #d9d9d9 7.81%);
  filter: blur(4px);
  height: 768px;
}
.task-11 {
  top: 240px;
  height: 935px;
}
.locked1 {
  position: absolute;
  top: 532px;
  left: 137px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
  text-align: center;
}
.icon-lock-locked,
.vector-icon19 {
  position: absolute;
  height: 5.1%;
  width: 12.85%;
  top: 40%;
  right: 44.4%;
  bottom: 54.9%;
  left: 42.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-lock-locked {
  height: 16.59%;
  width: 13.57%;
  top: 0;
  right: 42.95%;
  bottom: 83.41%;
  left: 43.48%;
}
.tasks1 {
  position: absolute;
  top: 309px;
  left: -7px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
  width: 414px;
  height: 1175px;
  font-size: var(--font-size-xl);
  color: var(--color-chocolate-100);
}
.chopin-2-icon2 {
  position: absolute;
  top: 158px;
  left: 249px;
  width: 96px;
  height: 120px;
  object-fit: cover;
}
.my-quizzes1 {
  position: absolute;
  top: 56px;
  left: 35px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
  text-align: center;
}
.quizzes-expanded {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1299px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-lexend);
}
