.entypodots-two-horizontal-icon6,
.evaarrow-ios-back-fill-icon10 {
  position: absolute;
  top: 15px;
  left: 341px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.evaarrow-ios-back-fill-icon10 {
  top: 20px;
  left: 14px;
  width: 35px;
  height: 35px;
}
.social1 {
  position: absolute;
  top: 28px;
  left: 180px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.social-child,
.social-item {
  position: absolute;
  top: 94px;
  left: 35px;
  border-radius: var(--br-xs);
  background-color: var(--color-orangered-200);
  width: 342px;
  height: 50px;
}
.social-item {
  top: 291px;
  left: 36px;
  background-color: var(--color-gray-100);
  height: 113px;
}
.social-inner {
  position: absolute;
  top: 245px;
  left: 146px;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: #252a40;
  width: 122px;
  height: 159px;
}
.friends {
  position: absolute;
  top: 111px;
  left: 48px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.eiden,
.emma-aria,
.jackson {
  position: absolute;
  top: 331px;
  left: 295px;
  font-weight: 500;
}
.eiden,
.jackson {
  top: 302px;
  left: 191px;
}
.jackson {
  top: 334px;
  left: 67px;
}
.username,
.username1 {
  font-size: var(--font-size-5xs);
  font-weight: 300;
  color: var(--color-darkgray-100);
}
.username {
  position: absolute;
  top: 377px;
  left: 67px;
}
.username1 {
  top: 360px;
  left: 184px;
}
.b,
.username1,
.username2 {
  position: absolute;
}
.username2 {
  top: 377px;
  left: 302px;
  font-size: var(--font-size-5xs);
  font-weight: 300;
  color: var(--color-darkgray-100);
}
.b {
  top: 354px;
  left: 305px;
  font-size: var(--font-size-mini);
  color: var(--color-springgreen);
}
.b1 {
  top: 355px;
  left: 73px;
  color: var(--color-deepskyblue-200);
}
.b1,
.b2,
.global1,
.national {
  position: absolute;
  font-size: var(--font-size-mini);
}
.b2 {
  top: 330px;
  left: 187px;
  color: var(--color-orange);
}
.global1,
.national {
  top: 111px;
  left: 165px;
  font-weight: 500;
}
.global1 {
  left: 292px;
}
.social-child1 {
  position: absolute;
  top: 142px;
  left: 48px;
  border-radius: 10px;
  background-color: #699bf7;
  width: 45px;
  height: 3px;
}
.social-child2 {
  position: absolute;
  top: 423px;
  left: 14px;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  background-color: var(--color-gray-100);
  width: 390px;
  height: 410px;
}
.ellipse-icon,
.social-child3 {
  position: absolute;
  top: 194px;
  left: 166px;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.social-child3 {
  top: 249px;
  left: 57px;
  width: 68px;
  height: 68px;
}
.social-child4,
.social-child5,
.social-child6,
.social-child7,
.social-child8,
.social-child9 {
  position: absolute;
  top: 451px;
  left: 37px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.social-child5,
.social-child6,
.social-child7,
.social-child8,
.social-child9 {
  top: 533px;
}
.social-child6,
.social-child7,
.social-child8,
.social-child9 {
  top: 615px;
}
.social-child7,
.social-child8,
.social-child9 {
  top: 697px;
}
.social-child8,
.social-child9 {
  top: 779px;
  left: 33px;
}
.social-child9 {
  top: 247px;
  left: 289px;
  width: 68px;
  height: 68px;
}
.group-icon {
  position: absolute;
  height: 4.31%;
  width: 10.63%;
  top: 17.63%;
  right: 45.89%;
  bottom: 78.06%;
  left: 43.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-child10,
.social-child11,
.social-child12 {
  position: absolute;
  top: 303px;
  left: 91px;
  border-radius: var(--br-8xs);
  background-color: var(--color-deepskyblue-200);
  width: 17px;
  height: 17px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.social-child11,
.social-child12 {
  top: 262px;
  left: 207px;
  background-color: var(--color-orange);
}
.social-child12 {
  top: 302px;
  left: 324px;
  background-color: var(--color-springgreen);
}
.div,
.div1,
.div2 {
  position: absolute;
  top: 310px;
  left: 89px;
  font-size: var(--font-size-5xs);
  font-weight: 600;
}
.div1,
.div2 {
  top: 269px;
  left: 205px;
}
.div2 {
  top: 309px;
  left: 321px;
}
.hannah,
.jason,
.natalie,
.sebastian,
.serenity {
  position: absolute;
  top: 458px;
  left: 108px;
  font-weight: 500;
}
.hannah,
.jason,
.natalie,
.serenity {
  top: 540px;
}
.hannah,
.natalie,
.serenity {
  top: 622px;
}
.hannah,
.serenity {
  top: 704px;
}
.hannah {
  top: 786px;
  left: 104px;
}
.b3,
.b4,
.b5,
.b6,
.b7 {
  position: absolute;
  top: 461px;
  left: 348px;
}
.b4,
.b5,
.b6,
.b7 {
  top: 543px;
  left: 355px;
}
.b5,
.b6,
.b7 {
  top: 626px;
  left: 354px;
}
.b6,
.b7 {
  top: 707px;
  left: 355px;
}
.b7 {
  top: 789px;
  left: 352px;
}
.username3,
.username4,
.username5,
.username6,
.username7 {
  position: absolute;
  top: 479px;
  left: 110px;
  font-size: var(--font-size-5xs);
  font-weight: 300;
  color: var(--color-darkgray-100);
}
.username4,
.username5,
.username6,
.username7 {
  top: 561px;
}
.username5,
.username6,
.username7 {
  top: 643px;
}
.username6,
.username7 {
  top: 725px;
}
.username7 {
  top: 807px;
  left: 106px;
}
.polygon-icon,
.social-child13 {
  position: absolute;
  top: 482px;
  left: 369.6px;
  width: 9px;
  height: 7px;
}
.social-child13 {
  top: 565.8px;
  width: 7.8px;
  height: 5.3px;
}
.social-child14,
.social-child15,
.social-child16 {
  position: absolute;
  top: 646px;
  left: 369.6px;
  width: 9px;
  height: 7px;
}
.social-child15,
.social-child16 {
  top: 728px;
}
.social-child16 {
  top: 811.8px;
  left: 365.6px;
  width: 7.8px;
  height: 5.3px;
}
.line-div,
.social-child17,
.social-child18,
.social-child19 {
  position: absolute;
  top: 515.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-dimgray-300);
  box-sizing: border-box;
  width: 335px;
  height: 1px;
}
.social-child17,
.social-child18,
.social-child19 {
  top: 598.5px;
}
.social-child18,
.social-child19 {
  top: 679.5px;
}
.social-child19 {
  top: 762.5px;
  left: 40.5px;
}
.social {
  position: relative;
  background-color: var(--color-darkslateblue-100);
  width: 100%;
  height: 896px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
