.span {
  font-family: var(--font-lexend);
}
.julie {
  color: var(--color-orangered-200);
}
.lets-get-to-container {
  position: absolute;
  top: 101px;
  left: 50px;
  display: inline-block;
  width: 269px;
  height: 23px;
  filter: blur(4px);
}
.evaarrow-ios-back-fill-icon2 {
  position: absolute;
  top: 61px;
  left: 15px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.frdric-chopin {
  position: absolute;
  top: 56px;
  left: 50px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
  text-align: center;
  filter: blur(4px);
  cursor: pointer;
}
.span1 {
  color: var(--color-chocolate-100);
}
.my-tasks-05-container {
  position: absolute;
  top: 443px;
  left: 36px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  filter: blur(4px);
  color: var(--color-darkslategray);
}
.ludwig-van-beethoven {
  font-weight: 600;
}
.complete-them-all-container {
  position: absolute;
  top: 478px;
  left: 36px;
  display: inline-block;
  width: 343px;
  filter: blur(4px);
}
.frame-child {
  position: absolute;
  top: 609px;
  left: 207px;
  filter: blur(4px);
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.man-watching-online-video-1-icon,
.man-watching-online-video-2-icon,
.to-do-list-1-icon1 {
  position: absolute;
  top: 534px;
  left: 26.7px;
  width: 152.5px;
  height: 130px;
  overflow: hidden;
}
.man-watching-online-video-2-icon,
.to-do-list-1-icon1 {
  top: 669px;
  left: 27.7px;
}
.to-do-list-1-icon1 {
  top: 1090.7px;
  left: 38px;
  width: 131px;
  height: 97.3px;
}
.teaching-1-icon3,
.teaching-2-icon {
  position: absolute;
  top: 940px;
  left: 38px;
  width: 131px;
  height: 135px;
  object-fit: cover;
}
.teaching-2-icon {
  top: 805px;
}
.course,
.course-child {
  position: absolute;
  width: 475px;
  height: 294px;
}
.course-child {
  top: 0;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-orangered-200);
}
.course {
  top: 454px;
  left: -25px;
}
.youtube-and-vimeo-video {
  position: relative;
  width: 360px;
  height: 220px;
}
.course-item,
.course1 {
  position: absolute;
  width: 350px;
  height: 249px;
}
.course-item {
  top: 0;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-goldenrod-100);
}
.course1 {
  top: 159px;
  left: 32px;
  filter: blur(4px);
}
.chopin-1-icon {
  position: absolute;
  top: 163px;
  left: 97px;
  width: 216px;
  height: 298px;
  object-fit: cover;
  cursor: pointer;
}
.lets-get-to-work-julie-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1299px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-lexend);
}
