.evaarrow-ios-back-fill-icon {
  position: absolute;
  top: 61px;
  left: 15px;
  width: 35px;
  height: 35.7px;
  overflow: hidden;
  cursor: pointer;
}
.section-1-early-life-and-educ {
  margin: 0;
}
.birth-and-early {
  font-weight: 300;
}
.birth-and-early-years {
  margin-bottom: 0;
}
.birth-and-early-years-date-an {
  margin: 0;
  padding-left: var(--padding-2xl);
}
.blank-line {
  margin: 0;
  font-weight: 300;
}
.section-1-early-container {
  position: absolute;
  top: 235px;
  left: 37px;
  display: inline-block;
  width: 333px;
}
.teaching-1-icon1 {
  position: absolute;
  top: 30px;
  left: 75px;
  width: 123px;
  height: 127px;
  object-fit: cover;
}
.answer-these-questions {
  position: absolute;
  top: 162px;
  left: 37px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-deepskyblue-100);
  display: inline-block;
  width: 333px;
}
.worksheet {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1228px;
  overflow: hidden;
  text-align: left;
  font-size: inherit;
  color: var(--color-black);
  font-family: var(--font-lexend);
}
