.quizzes-child,
.quizzes-inner,
.quizzes-item {
  position: absolute;
  top: 237px;
  left: 43px;
  border-radius: 50%;
  background-color: var(--color-goldenrod-100);
  filter: blur(27px);
  width: 327px;
  height: 216px;
}
.quizzes-inner,
.quizzes-item {
  top: 818px;
  background-color: var(--color-deepskyblue-300);
}
.quizzes-inner {
  top: 526px;
  background-color: var(--color-chocolate-200);
}
.course-3-item {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-darkslateblue-100);
  width: 350px;
  height: 249px;
}
.expert {
  position: absolute;
  top: 28px;
  left: 28px;
}
.saxophonist-playing-saxophone {
  position: absolute;
  top: 0;
  left: 167px;
  width: 180px;
  height: 233px;
  object-fit: cover;
}
.progress-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  width: 165px;
  height: 10px;
}
.completed,
.progress {
  position: absolute;
  top: 11px;
  left: 41px;
}
.progress {
  top: 222px;
  left: 92px;
  width: 165px;
  height: 26px;
  font-size: var(--font-size-xs);
}
.course-31 {
  position: absolute;
  top: 736px;
  left: 32px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 253px;
}
.test-your-knowledge1 {
  position: absolute;
  top: 49px;
  left: 4px;
  display: inline-block;
  width: 269px;
  height: 23px;
}
.my-quizzes1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
  text-align: center;
}
.heading1 {
  position: absolute;
  top: 51px;
  left: 36px;
  width: 273px;
  height: 72px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.couple-dance-party-1-icon,
.girl-playing-violin-1-icon {
  position: absolute;
  top: 144px;
  left: 102px;
  width: 312px;
  height: 259px;
  overflow: hidden;
}
.couple-dance-party-1-icon {
  top: 484px;
  left: 147px;
  width: 219px;
  height: 190px;
}
.quizzes2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1090px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
