.evaarrow-ios-back-fill-icon1 {
  position: absolute;
  top: 61px;
  left: 15px;
  width: 35px;
  height: 35.7px;
  overflow: hidden;
  cursor: pointer;
}
.frdric-chopin-a {
  margin: 0;
  font-weight: 300;
}
.emphasis-on-nuance {
  font-family: var(--font-lexend);
}
.chopins-music-is {
  font-weight: 300;
}
.emphasis-on-nuance-and-subtlet {
  margin: 0;
}
.frdric-chopin-a-container {
  position: absolute;
  top: 178px;
  left: 37px;
  display: inline-block;
  width: 333px;
}
.teaching-1-icon3 {
  position: absolute;
  top: 30px;
  left: 75px;
  width: 123px;
  height: 127px;
  object-fit: cover;
}
.rectangle-frame,
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle2 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-gainsboro-200);
}
.rectangle-frame {
  width: 414px;
  height: 41.3px;
  overflow: hidden;
}
.nav-bar-background2 {
  position: absolute;
  height: 99.88%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.12%;
  left: 0;
  background-color: var(--color-orangered-200);
  box-shadow: 0 2px 10px 1px rgba(51, 51, 51, 0.14);
}
.home-indicator3 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67.1px);
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 134px;
  height: 5px;
}
.barshome-indicatorsiphoneli2 {
  position: absolute;
  height: 42.5%;
  width: 34.35%;
  top: 57.5%;
  right: 32.58%;
  bottom: 0;
  left: 33.07%;
}
.nav-bar2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 414px;
  height: 80px;
}
.pay-transfer6 {
  position: absolute;
  width: 76.27%;
  top: calc(50% + 9px);
  left: 11.86%;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.vector-icon6 {
  position: absolute;
  height: 45.6%;
  width: 36.95%;
  top: 14%;
  right: 32.54%;
  bottom: 40.4%;
  left: 30.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payandtransfer-unselected-tab6 {
  position: absolute;
  height: 62.5%;
  width: 14.25%;
  top: 13.75%;
  right: 63.29%;
  bottom: 23.75%;
  left: 22.46%;
  overflow: hidden;
  cursor: pointer;
}
.pay-transfer7 {
  position: absolute;
  width: 123.33%;
  top: calc(50% + 9px);
  left: -11.67%;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.vector-icon7 {
  position: absolute;
  height: 45.6%;
  width: 41.33%;
  top: 12%;
  right: 28.67%;
  bottom: 42.4%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payandtransfer-unselected-tab7 {
  position: absolute;
  height: 62.5%;
  width: 14.49%;
  top: 13.75%;
  right: 42.51%;
  bottom: 23.75%;
  left: 43%;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon8 {
  position: absolute;
  height: 40%;
  width: 45%;
  top: 16%;
  right: 26.67%;
  bottom: 44%;
  left: 28.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payandtransfer-unselected-tab8 {
  position: absolute;
  height: 62.5%;
  width: 14.49%;
  top: 12.5%;
  right: 21.98%;
  bottom: 25%;
  left: 63.53%;
  overflow: hidden;
  cursor: pointer;
}
.tap-area2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.accounts-label2 {
  position: absolute;
  top: calc(50% + 9px);
  left: 21.57%;
  font-weight: 300;
}
.iconboundingbox2,
.path-icon2 {
  position: absolute;
  height: 48%;
  width: 50%;
  top: 14%;
  right: 25.1%;
  bottom: 38%;
  left: 24.9%;
}
.path-icon2 {
  height: 44%;
  top: 16%;
  bottom: 40%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.accounts-selected-tab2 {
  position: absolute;
  height: 62.5%;
  width: 12.32%;
  top: 12.5%;
  right: 83.57%;
  bottom: 25%;
  left: 4.11%;
  overflow: hidden;
  cursor: pointer;
}
.zelle-label2 {
  position: absolute;
  height: 32.98%;
  width: 100%;
  top: 67.02%;
  left: 0;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.iconsactionableedit3 {
  position: absolute;
  height: 59.57%;
  width: 76.32%;
  top: 0;
  right: 10.53%;
  bottom: 40.43%;
  left: 13.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.zelle-label-container {
  position: absolute;
  top: 13px;
  left: 348px;
  width: 38px;
  height: 47px;
  cursor: pointer;
}
.nav1 {
  position: absolute;
  top: 1382px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 414px;
  height: 80px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.review {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1462px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-lexend);
}
