.glass5 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    177.01deg,
    rgba(227, 227, 227, 0.6),
    rgba(217, 217, 217, 0.41)
  );
  backdrop-filter: blur(14px);
  width: 414px;
  height: 1011px;
}
.student-lesson-child,
.student-lesson-inner,
.student-lesson-item {
  position: absolute;
  top: 237px;
  left: 43px;
  border-radius: 50%;
  background-color: var(--color-goldenrod-100);
  filter: blur(27px);
  width: 327px;
  height: 216px;
}
.student-lesson-inner,
.student-lesson-item {
  top: 818px;
  background-color: var(--color-deepskyblue-300);
}
.student-lesson-inner {
  top: 526px;
  background-color: var(--color-chocolate-200);
}
.course-3-inner {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-darkslateblue-100);
  width: 350px;
  height: 249px;
}
.compare {
  margin: 0;
}
.compare-contrast-container {
  position: absolute;
  top: 28px;
  left: 28px;
}
.saxophonist-playing-saxophone1 {
  position: absolute;
  top: 0;
  left: 167px;
  width: 180px;
  height: 233px;
  object-fit: cover;
}
.progress-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  width: 165px;
  height: 10px;
}
.completed1,
.progress1 {
  position: absolute;
  top: 11px;
  left: 41px;
}
.progress1 {
  top: 222px;
  left: 92px;
  width: 165px;
  height: 26px;
  font-size: var(--font-size-xs);
}
.course-32 {
  position: absolute;
  top: 736px;
  left: 32px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 253px;
}
.contemporary-music,
.progress2 {
  position: absolute;
  top: 24px;
  left: 28px;
}
.progress2 {
  top: 216px;
  left: 92px;
  width: 165px;
  height: 26px;
  font-size: var(--font-size-xs);
}
.course-1-child,
.course-28 {
  position: absolute;
  border-radius: var(--br-12xl);
  width: 350px;
  height: 249px;
}
.course-28 {
  top: 448px;
  left: 32px;
  background-color: var(--color-orangered-200);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.course-1-child {
  top: 0;
  left: 0;
  background-color: var(--color-goldenrod-100);
}
.classical-music {
  position: absolute;
  top: 24px;
  left: 28px;
  display: inline-block;
  width: 167px;
}
.course-1,
.progress3 {
  position: absolute;
  top: 218px;
  left: 92px;
  width: 165px;
  height: 26px;
  font-size: var(--font-size-xs);
}
.course-1 {
  top: 159px;
  left: 32px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 249px;
  cursor: pointer;
  font-size: var(--font-size-7xl);
}
.what-should-we1 {
  position: absolute;
  top: 49px;
  left: 4px;
  display: inline-block;
  width: 269px;
  height: 23px;
}
.my-lessons1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
  text-align: center;
}
.heading3 {
  position: absolute;
  top: 51px;
  left: 36px;
  width: 273px;
  height: 72px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.girl-playing-violin-1-icon1 {
  position: absolute;
  top: 144px;
  left: 102px;
  width: 312px;
  height: 259px;
  overflow: hidden;
}
.couple-dance-party-1-icon1,
.nav-bar-child {
  position: absolute;
  top: 484px;
  left: 147px;
  width: 219px;
  height: 190px;
  overflow: hidden;
}
.nav-bar-child {
  height: 51.69%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 48.31%;
  left: 0;
  background-color: var(--color-orangered-200);
}
.home-indicator12 {
  position: absolute;
  bottom: 7.9px;
  left: calc(50% - 67.1px);
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 134px;
  height: 5px;
}
.barshome-indicatorsiphoneli11,
.nav-bar11 {
  position: absolute;
  height: 42.43%;
  width: 34.35%;
  top: 57.57%;
  right: 32.58%;
  bottom: 0;
  left: 33.07%;
}
.nav-bar11 {
  height: 99.88%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.12%;
  left: 0;
  background-color: var(--color-orangered-200);
  box-shadow: 0 2px 10px 1px rgba(51, 51, 51, 0.14);
}
.pay-transfer33 {
  position: absolute;
  width: 76.27%;
  top: calc(50% + 9px);
  left: 11.86%;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.vector-icon36 {
  position: absolute;
  height: 45.6%;
  width: 36.95%;
  top: 14%;
  right: 32.54%;
  bottom: 40.4%;
  left: 30.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payandtransfer-unselected-tab33 {
  position: absolute;
  height: 62.5%;
  width: 14.25%;
  top: 13.75%;
  right: 63.29%;
  bottom: 23.75%;
  left: 22.46%;
  overflow: hidden;
  cursor: pointer;
}
.pay-transfer34 {
  position: absolute;
  width: 123.33%;
  top: calc(50% + 9px);
  left: -11.67%;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.vector-icon37 {
  position: absolute;
  height: 45.6%;
  width: 41.33%;
  top: 12%;
  right: 28.67%;
  bottom: 42.4%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payandtransfer-unselected-tab34 {
  position: absolute;
  height: 62.5%;
  width: 14.49%;
  top: 13.75%;
  right: 42.51%;
  bottom: 23.75%;
  left: 43%;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon38 {
  position: absolute;
  height: 40%;
  width: 45%;
  top: 16%;
  right: 26.67%;
  bottom: 44%;
  left: 28.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payandtransfer-unselected-tab35 {
  position: absolute;
  height: 62.5%;
  width: 14.49%;
  top: 12.5%;
  right: 21.98%;
  bottom: 25%;
  left: 63.53%;
  overflow: hidden;
  cursor: pointer;
}
.accounts-label11 {
  position: absolute;
  top: calc(50% + 9px);
  left: 21.57%;
  font-weight: 300;
}
.iconboundingbox11,
.path-icon11 {
  position: absolute;
  height: 48%;
  width: 50%;
  top: 14%;
  right: 25.1%;
  bottom: 38%;
  left: 24.9%;
}
.path-icon11 {
  height: 44%;
  top: 16%;
  bottom: 40%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.accounts-selected-tab11 {
  position: absolute;
  height: 62.5%;
  width: 12.32%;
  top: 12.5%;
  right: 83.57%;
  bottom: 25%;
  left: 4.11%;
  overflow: hidden;
  cursor: pointer;
}
.zelle-label11 {
  position: absolute;
  height: 32.98%;
  width: 100%;
  top: 67.02%;
  left: 0;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.iconsactionableedit12 {
  position: absolute;
  height: 59.57%;
  width: 76.32%;
  top: 0;
  right: 10.53%;
  bottom: 40.43%;
  left: 13.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.zelle-label-parent8 {
  position: absolute;
  top: 13px;
  left: 348px;
  width: 38px;
  height: 47px;
  cursor: pointer;
}
.nav10 {
  position: absolute;
  top: 1010px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 414px;
  height: 80px;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.student-lesson {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1090px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
