.span {
  font-family: var(--font-lexend);
}
.julie {
  color: var(--color-orangered-200);
}
.lets-get-to-container {
  position: absolute;
  top: 101px;
  left: 50px;
  display: inline-block;
  width: 269px;
  height: 23px;
  filter: blur(4px);
}
.evaarrow-ios-back-fill-icon2 {
  position: absolute;
  top: 61px;
  left: 15px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.frdric-chopin {
  position: absolute;
  top: 56px;
  left: 50px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
  text-align: center;
  filter: blur(4px);
  cursor: pointer;
}
.span1 {
  color: var(--color-chocolate-100);
}
.my-tasks-05-container {
  position: absolute;
  top: 443px;
  left: 36px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  filter: blur(4px);
  color: var(--color-darkslategray);
}
.ludwig-van-beethoven {
  font-weight: 600;
}
.complete-them-all-container {
  position: absolute;
  top: 478px;
  left: 36px;
  display: inline-block;
  width: 343px;
  filter: blur(4px);
}
.frame-child {
  position: absolute;
  top: 609px;
  left: 207px;
  filter: blur(4px);
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.man-watching-online-video-1-icon,
.man-watching-online-video-2-icon,
.to-do-list-1-icon2 {
  position: absolute;
  top: 534px;
  left: 26.7px;
  width: 152.5px;
  height: 130px;
  overflow: hidden;
}
.man-watching-online-video-2-icon,
.to-do-list-1-icon2 {
  top: 669px;
  left: 27.7px;
}
.to-do-list-1-icon2 {
  top: 1090.7px;
  left: 38px;
  width: 131px;
  height: 97.3px;
}
.teaching-1-icon4,
.teaching-2-icon1 {
  position: absolute;
  top: 940px;
  left: 38px;
  width: 131px;
  height: 135px;
  object-fit: cover;
}
.teaching-2-icon1 {
  top: 805px;
}
.course,
.course-child {
  position: absolute;
  width: 475px;
  height: 294px;
}
.course-child {
  top: 0;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-orangered-200);
}
.course {
  top: 478px;
  left: -30px;
}
.course-item,
.course1 {
  position: absolute;
  width: 350px;
  height: 249px;
}
.course-item {
  top: 0;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-goldenrod-100);
}
.course1 {
  top: 159px;
  left: 32px;
  filter: blur(4px);
}
.chopin-1-icon,
.image-2-icon {
  position: absolute;
  top: 163px;
  left: 97px;
  width: 216px;
  height: 298px;
  object-fit: cover;
  cursor: pointer;
}
.image-2-icon {
  top: 522px;
  left: 12px;
  width: 391px;
  height: 216px;
}
.group-div,
.rectangle3 {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle3 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-gainsboro-200);
}
.group-div {
  width: 414px;
  height: 41.3px;
  overflow: hidden;
}
.nav-bar-background3 {
  position: absolute;
  height: 99.88%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.12%;
  left: 0;
  background-color: var(--color-orangered-200);
  box-shadow: 0 2px 10px 1px rgba(51, 51, 51, 0.14);
}
.home-indicator4 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67.1px);
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 134px;
  height: 5px;
}
.barshome-indicatorsiphoneli3 {
  position: absolute;
  height: 42.5%;
  width: 34.35%;
  top: 57.5%;
  right: 32.58%;
  bottom: 0;
  left: 33.07%;
}
.nav-bar3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 414px;
  height: 80px;
}
.pay-transfer9 {
  position: absolute;
  width: 76.27%;
  top: calc(50% + 9px);
  left: 11.86%;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.vector-icon9 {
  position: absolute;
  height: 45.6%;
  width: 36.95%;
  top: 14%;
  right: 32.54%;
  bottom: 40.4%;
  left: 30.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payandtransfer-unselected-tab9 {
  position: absolute;
  height: 62.5%;
  width: 14.25%;
  top: 13.75%;
  right: 63.29%;
  bottom: 23.75%;
  left: 22.46%;
  overflow: hidden;
  cursor: pointer;
}
.pay-transfer10 {
  position: absolute;
  width: 123.33%;
  top: calc(50% + 9px);
  left: -11.67%;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.vector-icon10 {
  position: absolute;
  height: 45.6%;
  width: 41.33%;
  top: 12%;
  right: 28.67%;
  bottom: 42.4%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payandtransfer-unselected-tab10 {
  position: absolute;
  height: 62.5%;
  width: 14.49%;
  top: 13.75%;
  right: 42.51%;
  bottom: 23.75%;
  left: 43%;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon11 {
  position: absolute;
  height: 40%;
  width: 45%;
  top: 16%;
  right: 26.67%;
  bottom: 44%;
  left: 28.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payandtransfer-unselected-tab11 {
  position: absolute;
  height: 62.5%;
  width: 14.49%;
  top: 12.5%;
  right: 21.98%;
  bottom: 25%;
  left: 63.53%;
  overflow: hidden;
  cursor: pointer;
}
.tap-area3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.accounts-label3 {
  position: absolute;
  top: calc(50% + 9px);
  left: 21.57%;
  font-weight: 300;
}
.iconboundingbox3,
.path-icon3 {
  position: absolute;
  height: 48%;
  width: 50%;
  top: 14%;
  right: 25.1%;
  bottom: 38%;
  left: 24.9%;
}
.path-icon3 {
  height: 44%;
  top: 16%;
  bottom: 40%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.accounts-selected-tab3 {
  position: absolute;
  height: 62.5%;
  width: 12.32%;
  top: 12.5%;
  right: 83.57%;
  bottom: 25%;
  left: 4.11%;
  overflow: hidden;
  cursor: pointer;
}
.zelle-label3 {
  position: absolute;
  height: 32.98%;
  width: 100%;
  top: 67.02%;
  left: 0;
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.iconsactionableedit4 {
  position: absolute;
  height: 59.57%;
  width: 76.32%;
  top: 0;
  right: 10.53%;
  bottom: 40.43%;
  left: 13.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-div {
  position: absolute;
  top: 13px;
  left: 348px;
  width: 38px;
  height: 47px;
  cursor: pointer;
}
.nav2 {
  position: absolute;
  top: 1219px;
  left: 0;
  filter: blur(4px);
  width: 414px;
  height: 80px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.lets-get-to-work-julie-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1299px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-lexend);
}
