.course-2-child6,
.course-2-child7,
.course-3-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-goldenrod-100);
  width: 390px;
  height: 83px;
}
.course-2-child6,
.course-2-child7 {
  background-color: var(--color-steelblue-100);
}
.course-2-child7 {
  background-color: var(--color-darkgray-300);
}
.course-210,
.course-29 {
  position: absolute;
  left: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 390px;
}
.course-210 {
  top: 95px;
  height: 83px;
  cursor: pointer;
}
.course-29 {
  top: 93px;
  height: 178px;
}
.b-carnegie-melon,
.c-scad,
.d-warsaw-conservatory {
  position: absolute;
  top: 25px;
  left: 49px;
  display: inline-block;
  width: 271px;
}
.c-scad,
.d-warsaw-conservatory {
  top: 119px;
  width: 145px;
}
.d-warsaw-conservatory {
  top: 213px;
  width: 411px;
}
.course-33 {
  position: absolute;
  top: 541px;
  left: 12px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 460px;
  height: 271px;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
