.juliesmithgmailcom4 {
  top: 91px;
  font-size: var(--font-size-mini);
  width: 191px;
  height: 24px;
}
.div6,
.juliesmithgmailcom4,
.password4,
.username11 {
  position: absolute;
  left: 40px;
  font-weight: 600;
  display: inline-block;
}
.div6 {
  top: 165px;
  font-size: var(--font-size-xl);
  width: 191px;
  height: 24px;
}
.password4,
.username11 {
  width: 61px;
  height: 13px;
}
.username11 {
  top: 78px;
  color: var(--color-darkgray-300);
}
.password4 {
  top: 150px;
}
.vector-icon26,
.vector-icon27 {
  position: absolute;
  height: 9.45%;
  width: 9.78%;
  top: 29.89%;
  right: 89.35%;
  bottom: 60.66%;
  left: 0.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon27 {
  height: 9.15%;
  top: 59.04%;
  bottom: 31.81%;
}
.confirm-password,
.div7 {
  position: absolute;
  left: 40px;
  font-weight: 600;
  display: inline-block;
}
.div7 {
  top: 247px;
  font-size: var(--font-size-xl);
  width: 191px;
  height: 24px;
}
.confirm-password {
  top: 235px;
  width: 116px;
  height: 13px;
}
.vector-icon28 {
  position: absolute;
  height: 9.15%;
  width: 9.78%;
  top: 89.3%;
  right: 89.35%;
  bottom: 1.55%;
  left: 0.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.full-name,
.julie-smith2 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.julie-smith2 {
  top: 12px;
  left: 38px;
  font-size: var(--font-size-xl);
  width: 191px;
  height: 24px;
}
.full-name {
  top: 0;
  left: 39px;
  width: 61px;
  height: 13px;
}
.vector-icon29 {
  position: absolute;
  height: 9.15%;
  width: 9.78%;
  top: 2.21%;
  right: 90.22%;
  bottom: 88.63%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.juliesmithgmailcom-parent {
  position: absolute;
  top: 289px;
  left: 73px;
  width: 231px;
  height: 271px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-lexend);
}
