.playlist-child {
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 100px;
  flex-shrink: 0;
  object-fit: cover;
}
.all-of-your,
.contemporary-bops,
.playlist-child {
  align-self: stretch;
  position: relative;
}
.contemporary-bops {
  letter-spacing: -0.02em;
  line-height: 130%;
  font-weight: 500;
}
.all-of-your {
  font-size: var(--font-size-xs);
  line-height: 140%;
  color: var(--color-darkgray-200);
}
.information,
.playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
}
.information {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.playlist {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 200px;
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
