.task-5-child,
.task-5-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
  width: 369px;
  height: 120px;
}
.task-5-item {
  top: 11px;
  left: 8.4px;
  border-radius: var(--br-7xl);
  background-color: var(--color-darkslateblue-200);
  width: 145.5px;
  height: 97px;
}
.mini-quiz {
  position: absolute;
  top: 22px;
  left: 178.2px;
  font-weight: 600;
  display: inline-block;
  width: 99.1px;
}
.task-5 {
  position: absolute;
  top: 540px;
  left: 0;
  width: 369px;
  height: 120px;
  cursor: pointer;
  color: var(--color-goldenrod-100);
}
.task-4-child1 {
  position: absolute;
  top: 11px;
  left: 8.4px;
  border-radius: var(--br-7xl);
  background-color: var(--color-orangered-300);
  width: 145.5px;
  height: 97px;
}
.review2 {
  position: absolute;
  top: 22px;
  left: 178.2px;
  font-weight: 600;
  display: inline-block;
  width: 75.9px;
}
.task-3-child,
.task-41 {
  position: absolute;
  left: 0;
  width: 369px;
  height: 120px;
  cursor: pointer;
}
.task-41 {
  top: 405px;
  color: var(--color-seagreen);
}
.task-3-child {
  top: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
}
.task-3-item {
  position: absolute;
  top: 11px;
  left: 8.4px;
  border-radius: var(--br-7xl);
  background-color: var(--color-goldenrod-200);
  width: 145.5px;
  height: 97px;
}
.practice-musical-scales,
.worksheet1 {
  position: absolute;
  top: 22px;
  left: 178.2px;
  font-weight: 600;
  display: inline-block;
  width: 112.8px;
}
.practice-musical-scales {
  top: 52px;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-dimgray-100);
  width: 157.1px;
  height: 46px;
}
.task-3,
.video2 {
  position: absolute;
}
.task-3 {
  top: 270px;
  left: 0;
  width: 369px;
  height: 120px;
  color: var(--color-deepskyblue-100);
}
.video2 {
  top: 22px;
  left: 178.2px;
  font-weight: 600;
  display: inline-block;
  width: 61.1px;
}
.task-1-child5,
.task-2 {
  position: absolute;
  top: 135px;
  left: 0;
  width: 369px;
  height: 120px;
}
.task-1-child5 {
  top: 11px;
  left: 8.4px;
  border-radius: var(--br-6xl);
  background-color: var(--color-goldenrod-200);
  width: 145.5px;
  height: 97px;
}
.learn-about-chopins2,
.video3 {
  position: absolute;
  top: 21px;
  left: 178.2px;
  font-weight: 600;
  display: inline-block;
  width: 61.1px;
}
.learn-about-chopins2 {
  top: 51px;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-dimgray-100);
  width: 157.1px;
  height: 46px;
}
.task-12,
.tasks2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 369px;
  height: 120px;
}
.tasks2 {
  top: 539px;
  left: 23px;
  filter: blur(4px);
  width: 1px;
  height: 660px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-chocolate-100);
  font-family: var(--font-lexend);
}
